<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <add key="service-url" value="crmsyncservice.local"/>
    
    <add key="SecurityConnection" value="[devsql2008.sa.P@ssw0rd.Security.]YoK1bJ2UgD6nRVt79WnDw2/+urkm8spe/nwdSCy5w2T/6nJtknhHISiBfk06odlb"/>
    <add key="CommonConnection" value="[devsql2008.sa.P@ssw0rd.Common.]YoK1bJ2UgD6nRVt79WnDw2/+urkm8spe/nwdSCy5w2T/6nJtknhHISiBfk06odlb"/>
    <add key="NotificationsConnection" value="[devsql2008.sa.P@ssw0rd.Notifications.]YoK1bJ2UgD6nRVt79WnDw2/+urkm8spe/nwdSCy5w2T/6nJtknhHISiBfk06odlb"/>
  
    <add key="logLevel" value="7"/>
    <add key="logDir" value="C:/logs/crmsyncservice/"/>
    
    <add key="ErrorEmailTo" value="nherbstritt@vacc.com.au"/>
    <add key="ErrorEmailCC" value="nherbstritt@vacc.com.au"/>
    
    <add key="NewUserPassword" value="vaccyaigh!"/>
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceBehaviour" name="CRMSyncWeb.CRMSyncWebService">

        <!--
        <host>
          <baseAddresses>
            <add baseAddress="crmsyncservice.local/webservice/CRMSyncWebService.svc/"/>
          </baseAddresses>
        </host>
        -->
<!--        
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="CRMSyncWeb.ICRMSyncService" />
-->
        <!-- http settings -->
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" contract="CRMSyncWeb.ICRMSyncService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <!-- -->
        
        <!-- https settings - - >
        < ! - -        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" contract="CRMSyncWeb.ICRMSyncService" /> - - >
        <endpoint address=""  binding="wsHttpBinding" bindingConfiguration="wsHttpTransportSecurity" contract="CRMSyncWeb.ICRMSyncService" /> 
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        < ! - - -->

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <!-- http/https -->
<!--          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/> -->

          <!-- Https Only -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>

          <!-- set for production -->
<!--          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/> -->

          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CRMSyncWeb.CustomUserNameValidator, CRMSyncWeb" />
          </serviceCredentials>
           -->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>      
    </behaviors>
    <!-- added to secure ssl only access -->
    <bindings>
      <webHttpBinding>
        <!-- http -->
        <binding name="webHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>              
          </security>
        </binding>

        <!-- https -->
        <binding name="webHttpTransportSecurity">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </webHttpBinding>
      
      <wsHttpBinding>
        <binding name="wsHttpTransportSecurity">
          <security mode="Message">
            
            <message clientCredentialType="UserName"/>
          </security> 
        </binding>

      </wsHttpBinding>
    </bindings>
    
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" /> 
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>